/project/target/config-classes/$1f9c3b7c51069dba9dc8$.class
/project/target/config-classes/$1f9c3b7c51069dba9dc8.cache
/project/target/config-classes/$1f9c3b7c51069dba9dc8.class
/project/target/config-classes/$3f5d40bf2e5cba85887a$.class
/project/target/config-classes/$3f5d40bf2e5cba85887a.cache
/project/target/config-classes/$3f5d40bf2e5cba85887a.class
/project/target/config-classes/$8db80c9d71b687e63221$.class
/project/target/config-classes/$8db80c9d71b687e63221.cache
/project/target/config-classes/$8db80c9d71b687e63221.class
/project/target/config-classes/$68a08af4560090eea788$.class
/project/target/config-classes/$68a08af4560090eea788.cache
/project/target/config-classes/$68a08af4560090eea788.class
/project/target/config-classes/$47406ee91b09aa13160c$.class
/project/target/config-classes/$47406ee91b09aa13160c.cache
/project/target/config-classes/$47406ee91b09aa13160c.class
/project/target/config-classes/$b70d2fadb50f5af9fb2c$.class
/project/target/config-classes/$b70d2fadb50f5af9fb2c.cache
/project/target/config-classes/$b70d2fadb50f5af9fb2c.class
/project/target/config-classes/$ca70942a365b760aba32$.class
/project/target/config-classes/$ca70942a365b760aba32.cache
/project/target/config-classes/$ca70942a365b760aba32.class
/project/target/config-classes/$e5022485552bef14f36e$.class
/project/target/config-classes/$e5022485552bef14f36e.cache
/project/target/config-classes/$e5022485552bef14f36e.class
/project/target/config-classes/$fa68a457e48cf15ee873$.class
/project/target/config-classes/$fa68a457e48cf15ee873.cache
/project/target/config-classes/$fa68a457e48cf15ee873.class
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/target/streams/runtime/managedClasspath/_global/streams/export
/target/streams/runtime/unmanagedClasspath/_global/streams/export
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedJars/_global/streams/export
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/target/scala-2.13/update/update_cache_2.13/inputs
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/inputs
/.idea/misc.xml
/.idea/modules.xml
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/compile/bspReporter/_global/streams/out
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/incOptions/_global/streams/out
/project/target/streams/compile/internalDependencyClasspath/_global/streams/out
/project/target/streams/compile/scalacOptions/_global/streams/out
/project/target/streams/compile/unmanagedClasspath/_global/streams/out
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/out
/project/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/_global/_global/csrLogger/_global/streams/out
/target/streams/_global/_global/dumpStructure/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/_global/updateClassifiers/_global/streams/out
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/runtime/unmanagedClasspath/_global/streams/out
/target/streams/test/unmanagedClasspath/_global/streams/out
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/target/scala-2.13/update/update_cache_2.13/output
/target/streams/_global/updateClassifiers/_global/streams/update_cache_2.13/output
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/project/target/streams/compile/_global/_global/compileOutputs/previous
/.idea/codeStyles/Project.xml
/.bsp/sbt.json
/.idea/sbt.xml
/.idea/libraries/sbt__org_openjfx_javafx_base_18_0_1_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_base_18_0_1_mac_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_controls_18_0_1_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_controls_18_0_1_mac_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_fxml_18_0_1_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_fxml_18_0_1_mac_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_graphics_18_0_1_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_graphics_18_0_1_mac_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_media_18_0_1_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_media_18_0_1_mac_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_swing_18_0_1_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_swing_18_0_1_mac_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_web_18_0_1_jar.xml
/.idea/libraries/sbt__org_openjfx_javafx_web_18_0_1_mac_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_library_2_13_9_jar.xml
/.idea/libraries/sbt__org_scala_lang_scala_reflect_2_13_9_jar.xml
/.idea/libraries/sbt__org_scalafx_scalafx_2_13_18_0_1_R28_jar.xml
/.idea/libraries/sbt__org_scalafx_scalafxml_core_macros_sfx8_2_13_0_5_jar.xml
/.idea/libraries/sbt__org_scalafx_scalafxml_core_sfx8_2_13_0_5_jar.xml
/.idea/scala_compiler.xml
/.idea/modules/ScalaFXStarter.iml
/.idea/modules/ScalaFXStarter-build.iml
/target/scala-2.13/classes/nettunit/UIController$Controller.class
/target/scala-2.13/classes/nettunit/UIController.class
/.idea/vcs.xml
